body{

    border:30% ;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#convert:hover{
    background-color: yellow;
}
h1{
    
    margin-top: 15%;
    margin-left: 45%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: bisque;

}
input{

    display: block;
    padding: 20px;
    margin: 20px;
    margin-top: 15px;
    margin-left: 45%;
    font-size: 1em;
    color: rgb(0, 0, 0);
}
::-webkit-input-placeholder{
    color: #ccc;
}
::-ms-input-placeholder{
    color: #ccc;
}
label{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 45%;
    color: rgba(53, 105, 131, 0.888);
}
